body {
    font-family: 'Karla', sans-serif;
    font-family: 'Lora', serif;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 100%;
}

.flexible-container {
    display: flex;
}